DawServiceHost/Connected Services/DawWCFServiceRef/WorkflowTalkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkflowTalkService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62605/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62605/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62605/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DawWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkflowTalkService_GetWorkflowHostQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowHostQueue" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_GetWorkflowHostQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowHostQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_GetViewerQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetViewerQueue" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_GetViewerQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetViewerQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_PutHostMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PutHostMessage" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_PutHostMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutHostMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_PutViewerMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PutViewerMessage" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_PutViewerMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutViewerMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_RemoveMessageFromViewerQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageFromViewerQueue" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_RemoveMessageFromViewerQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageFromViewerQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_RemoveMessageFromHostQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageFromHostQueue" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_RemoveMessageFromHostQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageFromHostQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_ClearViewerMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearViewerMessages" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_ClearViewerMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearViewerMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_ClearHostMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearHostMessages" />
  </wsdl:message>
  <wsdl:message name="IWorkflowTalkService_ClearHostMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearHostMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkflowTalkService">
    <wsdl:operation name="GetWorkflowHostQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/GetWorkflowHostQueue" message="tns:IWorkflowTalkService_GetWorkflowHostQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/GetWorkflowHostQueueResponse" message="tns:IWorkflowTalkService_GetWorkflowHostQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetViewerQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/GetViewerQueue" message="tns:IWorkflowTalkService_GetViewerQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/GetViewerQueueResponse" message="tns:IWorkflowTalkService_GetViewerQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutHostMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/PutHostMessage" message="tns:IWorkflowTalkService_PutHostMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/PutHostMessageResponse" message="tns:IWorkflowTalkService_PutHostMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutViewerMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/PutViewerMessage" message="tns:IWorkflowTalkService_PutViewerMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/PutViewerMessageResponse" message="tns:IWorkflowTalkService_PutViewerMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMessageFromViewerQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/RemoveMessageFromViewerQueue" message="tns:IWorkflowTalkService_RemoveMessageFromViewerQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/RemoveMessageFromViewerQueueResponse" message="tns:IWorkflowTalkService_RemoveMessageFromViewerQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMessageFromHostQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/RemoveMessageFromHostQueue" message="tns:IWorkflowTalkService_RemoveMessageFromHostQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/RemoveMessageFromHostQueueResponse" message="tns:IWorkflowTalkService_RemoveMessageFromHostQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearViewerMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/ClearViewerMessages" message="tns:IWorkflowTalkService_ClearViewerMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/ClearViewerMessagesResponse" message="tns:IWorkflowTalkService_ClearViewerMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearHostMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflowTalkService/ClearHostMessages" message="tns:IWorkflowTalkService_ClearHostMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflowTalkService/ClearHostMessagesResponse" message="tns:IWorkflowTalkService_ClearHostMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkflowTalkService" type="tns:IWorkflowTalkService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkflowHostQueue">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/GetWorkflowHostQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewerQueue">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/GetViewerQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutHostMessage">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/PutHostMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutViewerMessage">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/PutViewerMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMessageFromViewerQueue">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/RemoveMessageFromViewerQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMessageFromHostQueue">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/RemoveMessageFromHostQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearViewerMessages">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/ClearViewerMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearHostMessages">
      <soap:operation soapAction="http://tempuri.org/IWorkflowTalkService/ClearHostMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkflowTalkService">
    <wsdl:port name="BasicHttpBinding_IWorkflowTalkService" binding="tns:BasicHttpBinding_IWorkflowTalkService">
      <soap:address location="http://localhost:62605/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>