TestDuplex/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62605/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DawWCFService" />
  <xs:element name="GetWorkflowHostQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowHostQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DawWCFService" minOccurs="0" name="GetWorkflowHostQueueResult" nillable="true" type="q1:ArrayOfMyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewerQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewerQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DawWCFService" minOccurs="0" name="GetViewerQueueResult" nillable="true" type="q2:ArrayOfMyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutHostMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DawWCFService" minOccurs="0" name="message" nillable="true" type="q3:MyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutHostMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutViewerMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DawWCFService" minOccurs="0" name="message" nillable="true" type="q4:MyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutViewerMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageFromViewerQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DawWCFService" minOccurs="0" name="message" nillable="true" type="q5:MyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageFromViewerQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMessageFromViewerQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageFromHostQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DawWCFService" minOccurs="0" name="message" nillable="true" type="q6:MyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessageFromHostQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMessageFromHostQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearViewerMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearViewerMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearHostMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearHostMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>